@import url(thsarabun/index.css);

div.line {
    background: black;
    height: 1px;
    width: 100%;
    margin: 10px;
    border: 0px;
    padding: 0px;
}

body{
    /*margin-top:40px;*/
    font-family: "THSarabunNew"; }
.hide { display:none; }
.nav {
    font-family: "THSarabunNew";
   /* margin-top: 10px;
    margin-bottom: 10px;*/
}
h1,h2,h3,h4 {
    font-family: "THSarabunNew";
    font-weight:bold;
}
.leader{
    font-family: "THSarabunNew";
    font-size:20px;
}
.jumbotron{
    font-family: "THSarabunNew";
    /*height:350px;*/
    margin-bottom:20px;
}
.smaller{
    font-family: "THSarabunNew";
    font-size:30px;
}
.uu{
   text-decoration: underline;
}
.bg-hide{
    border: none;
    background-color: transparent;text-align: center;
}
.text-color-red{
    color: #FF0000;
}
.text-color-red-alpha{
    color: #D95C5C;
}
.text-color-green{
    color:#005702;
}
.text-color-green-alpha{
    color:#008d4c;
}

.text-color-blue{
    color:#005983;
}
.text-color-orange{
    color:#c87f0a;
}
.text-color-yellow{
    color:#eea236;
}
.text-color-gray{
    color:#808080;
}





.bb { font-weight: bold  }
.ii { font-style: italic; }
.bi { font-style: oblique; }
.bu {  font-weight: bold;
    -moz-text-decoration-style: wavy; /* Code for Firefox */
    text-decoration: underline; }
.bui { font-style: oblique;
    -moz-text-decoration-style: wavy; /* Code for Firefox */
    text-decoration: underline; }

.bb-alert {
    position: fixed;
    bottom: 25%;
    right: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 1em 1.3em;
    z-index: 2000;
}

.alert-info {

    /*color: #31708f;*/
    background-color: transparent;

}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.error {
    padding-top:5px;
    font-weight: bold;
    color: #FF0000;
}


.content-block{
    display: block;
    color: #999;
    overflow: hidden;
    /*white-space: nowrap;
    text-overflow: ellipsis;*/
}